

.flexbox-agrid-area-row{
    display: flex;
    flex-direction: row;
    align-items: top;
    margin: auto;
    
    
}

.flexbox-agrid-area-column{
    display: flex;
    flex-direction: column;
    align-items: top;
    margin: auto;
  
    
}
.item-agrid-area{
margin-bottom: -300px;
text-align: left;
padding: 10px;
color: rgb(0, 0, 0);
 width: -webkit-fill-available;
 align-content: center;
 text-align: center;
 margin: auto;
 justify-content: center;
}

.item-agrid-area img{
    width:100%;
   
    
}

#longText{
  max-width: 800px;
  margin: auto;
  text-align: left;
  color: rgb(0, 0, 0);
}

#imgAgrid img{
    max-width: 400px;
    height: auto;
    margin: auto;
    margin-bottom: -200px;


}









