.flexbox-bgrid-area{
    display: flex;
    flex-direction: row;
    align-items: top;
    padding-bottom: 20px;
   justify-content: flex-start, center;
   justify-content: center;
  
 

}
.item-bgrid-area{
text-align: center;
padding: 10px;
justify-content: center;

    
}

.item-bgrid-area button{
padding: 10px;
border: none;
color: white;
/* background-color:rgb(196,122,155) */
background-color: #8387ea;

}


.item-bgrid-area button:hover{
  border: solid 4px #8387ea ; 
  padding: 6px;
  background-color: #8387ea00;
  color: black;
}

#text-bgrid-area{
    text-align: center;
    font-family: Arial, 'Courier New',;
}


.flexbox-bgrid-area-contactinfo{
  
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: top;
   padding-bottom: 20px;
   margin-bottom: 70px;
   background-color: #ffeae4;
    margin-right: 10%;
    text-align: baseline;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;

}

.flexbox-bgrid-area-contactinfo i{
    padding:12px;
    border-radius: 80px;
    font-weight: bolder;
    align-content: baseline;
    margin-top: 11px;
   

   

}
.contact-row{
    display: flex;
    flex-direction: row
}
.contactInfoIcons i{
    padding:10px;
    color:rgb(255, 255, 255);
    background-color: rgb(211, 136, 211);
    border-radius: 100px;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.185) 0px 0px 15px 0px;
    
    
   
   
}

.flexbox-bgrid-area-contactinfo button{
    background-color: #8387ea;
    border: none;
    padding: 10px;
    border: none;
    padding: 0;
    margin: 12px;
  

}

.flexbox-bgrid-area-contactinfo button:hover{
   border: solid #ffa9a9 ;
  

}

.flexbox-bgrid-area-contactinfo a {
    text-decoration: none;
    color: #8387ea;
}

a:hover {
    text-decoration: none;
    color: #090909;
}


.footer{
color: black;
justify-content: center;
background-color: rgba(3, 2, 3, 0.199);
text-align: center;
bottom: 0;
position: fixed;
text-decoration: none;
width: -webkit-fill-available;

}

.footer {
    text-decoration: none;
    color: black;

}

.footer a{
    color: black;
    text-decoration: none;
}

.footer a:hover{
     color: #520d1c;


}
