*{
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

body{
    margin: 0;
    display:grid;
    grid-template-columns: repeat(9, 4fr);
    grid-template-areas:
    "h h h h h h h h h"
    "h h h h h h h h h"
    "b b b b b b b b b"
    "b b b b b b b b b";
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
    font-family: "comfortaa";
    background-image: url(/imgs/MyBackgroung.JPG);
    height: 100vh;
    
}

header {
    grid-area: h;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    padding: 0;
    left: 0;
    right: 0;
    color: white;
    background-size: cover;     
    background-repeat:   no-repeat;
    background-position: center center;
   width: 100%;
   
   

}

bgrid{
    grid-area: b;
    

}

a {
    text-decoration: none;
    color: #000000;
}

a:hover{
    
    color: #ffffff;
}

.boxanimation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    align-content: center;
    padding: 10px;
  
}
.grow{
  
    padding: 5px;
    margin-top: auto;
    animation: unfold 2s normal forwards;
    animation-play-state: paused;
    justify-self: left;
    overflow: auto;
    color:rgba(173, 216, 230, 0);
    text-align: left;
    
    
}
.grow a{
    text-decoration: underline;
    font-weight: bold;
}

.grow h4 {
    color:black;
    text-align: center;
}


.containerBox{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

 .textbox{
     text-align: left;
     align-self: center;
     max-width: 700px;
 }

.containerBoxWhite{
    justify-content: center;
    justify-items: center;
    margin: auto;
    background-color: #ffd6ce;
    display:flex;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;
}
h2{
    text-align: center;
}
.workexperienceeducation {
    text-align: center;
    color: white;
  width: -webkit-fill-available;
}
@keyframes unfold {

    0% {
        width: 45%;
        height:100px;
        overflow: hidden;
        color: rgba(173, 216, 230, 0);
        background-color: #ffeae4;
        
    }

    25% {
        width:90%;
        height:100px;
        overflow: hidden;
        color: black;



    }

    50%{
        width:90%;
        height:200px;
        overflow: hidden;
        color: black;
    
    }

    100%{
        width: 90%;
        min-height: 300px;
        overflow: visible;
        color: black;
        background-color: #ffeae4;
    }
}


.header{
    
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 10px;

    
}

.home {
    color: rgb(255, 255, 255);
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    margin: auto;
    background-color: rgba(80, 78, 78, 0);
   text-shadow:10px 4px rgba(75, 69, 69, 0.137); 
   z-index: 2;
  
    
   
}

.border-box{
    border: 5px solid #fdfdfd1b; 
     box-shadow: 6px 6px 12px 12px rgba(0, 0, 0, 0.133);
    
     

}

 hr{
    background-color: #ffffff00;


}

.underheader{
    color: #542c55;
    text-align: center;
    margin: auto;
    justify-self: center;
}
