
*{
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
     
}
.header{
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-bottom: -55px;
    color: white;

    
}

.home {
    display: flex;
    flex-direction: column;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    margin: auto;
    background-color: rgba(80, 78, 78, 0);
   text-shadow:10px 4px rgba(75, 69, 69, 0.137); 
   
    
   
}

/* .border-box{
    width: 100%;
    border: solid #eac696 ; 
     box-shadow: 6px 6px 12px 12px rgba(0, 0, 0, 0.253);
    

}
    */
     


.home hr{
    background-color: #ffffff ; 


}
 #last{
     margin-top: 80px;
     margin-left: -40px;
 }

#nameBox{
    font-size: xx-large;
    max-width: 450px;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.sidemenu{
margin-right: 20px;
color: rgb(123, 103, 190);
text-align: right;
display: flex;
flex-direction: column;
justify-content: space-evenly;
float: right;


}

.sidemenu a{
    text-decoration: none;
    color: rgb(123, 103, 190);

}

.sidemenu div:hover{
    text-decoration: underline;
}

#contact{
    padding: 10px;
    position: static;
    background-color: white;
    color: black;
    text-align: left;
    display:none;
}



@media screen and (max-width: 550px){
    #nameBox{
       font-size: x-large;
       margin-top: 90px;
       text-align: center;
    }
 #last{
     margin-top: 65px;
     margin-left: -40px;
 }
    #imgAgrid img{
    width:100%;
    max-width: 300px;
    height: auto;
    margin: auto;
    margin-bottom: -200px;
    


}
.header{
    margin-bottom: -45px;
}

.sidemenu{
    flex-direction: row;
    float: none;

}

#contact{
    position: absolute;
}
}
@media screen and (max-width: 425px){
    #nameBox{
       font-size: larger;
       margin-top: 110px;
       text-align: center;
    }
 #last{
     margin-top: 50px;
     margin-left: -60px;
 }
    #imgAgrid img{
    width:100%;
    max-width: 250px;
    height: auto;
    margin: auto;
    margin-bottom: -200px;


}
.header{
    margin-bottom: -35px;
}
.sidemenu{
    flex-direction: row;
    float: none;
}
#contact{
    position: absolute;
}
}
