

body{
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-columns: repeat(9, 4fr);
    grid-template-areas:
    "h h h h h h h h h"
    "a a a a a a a a a"
    "a a a a a a a a a"
    "b b b b b b b b b"
    ;
    font-family: Optima;
    background-size: cover;
    min-height: 100vh;
    background-image: url(//imgs/6884274.jpg)

   
}

header {
    grid-area: h;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 20px;
    left: 0;
    right: 0;
    background-size: cover;     
    background-repeat:   no-repeat;
    background-position: center center;
   
   

}

agrid{
    grid-area: a;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    contain: content;
    margin: auto;
    align-content: center;
    background-color:#ffeae4;  
    width: -webkit-fill-available;
}




bgrid{
    margin: 0;
    padding: 0;
    grid-area: b;
    justify-content: center;
    align-items: center;
   grid-template-columns: auto;
    contain: content;
    /* background-image: url(../imgs/flipped.jpg); */
    background-size: cover;     
    background-repeat:   no-repeat;
    background-position: center;

}





