

.flexbox-agrid-area-row{
    display: flex;
    flex-direction: row;
    align-items: top;
    margin: auto;
    
    
}

.flexbox-agrid-area-column{
    display: flex;
    flex-direction: column;
    align-items: top;
    margin: auto;
    
}
.item-agrid-area{
text-align: center;
padding: 10px;
color: rgb(103, 71, 107);
    
}

.item-agrid-area img{
    max-width: 100%;
    height: auto;
    margin: auto;
    
   

   
    
}




