.flexbox-bgrid-area{
    display: flex;
    flex-direction: row;
    align-items: top;
    padding-bottom: 20px;
   justify-content: flex-start, center;
   justify-content: center;
  color: rgb(150, 99, 156);
   

}
.item-bgrid-area{
text-align: center;
padding: 10px;
color: rgb(103, 71, 107);
justify-content: center;

    
}

.item-bgrid-area button{
padding: 2px;
border-radius: 5px;
border: none;
color: rgb(238, 238, 238);
background-color: rgb(150, 99, 156);


}


.item-bgrid-area button:hover{
    background-color:rgb(109, 58, 109);
    
    
}

#text-bgrid-area{
    text-align: center;
    color: rgb(103, 71, 107);
    font-family: Arial, 'Courier New',;
}


.flexbox-bgrid-area-contactinfo{
  
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: top;
   padding-bottom: 20px;
   margin-bottom: 70px;
   background-color: rgba(255, 255, 255, 0.616);
    color: rgb(150, 99, 156);
    max-width: 90%;
    text-align: baseline;
   

}

.flexbox-bgrid-area-contactinfo i{
    padding:12px;
    color:rgb(104, 53, 109);
    border-radius: 80px;
    font-weight: bolder;
    align-content: baseline;
    margin-top: 11px;
   

   

}
.contact-row{
    display: flex;
    flex-direction: row
}
.contactInfoIcons i{
    padding:10px;
    color:rgb(255, 255, 255);
    background-color: rgb(211, 136, 211);
    border-radius: 100px;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.185) 0px 0px 15px 0px;
    
    
   
   
}

.flexbox-bgrid-area-contactinfo button{
    background-color: rgb(156, 86, 156);
    border: none;
    padding: 0;
    background-color: rgb(156, 86, 156);
    border: none;
    padding: 0;
    margin: 12px;
    color: white;
    border-radius: 2px;
  

}

.flexbox-bgrid-area-contactinfo button:hover{
    border: solid whitesmoke 3px;
  

}

.flexbox-bgrid-area-contactinfo a {
    text-decoration: none;
    color: rgb(156, 86, 156);
}

a:hover {
    text-decoration: none;
    color: rgb(68, 35, 68);
}


.footer{
color: whitesmoke;
justify-content: center;
background-color: rgba(3, 2, 3, 0.199);
text-align: center;
bottom: 0;
position: fixed;
text-decoration: none;
width: -webkit-fill-available;

}

.footer {
    text-decoration: none;
    color: whitesmoke;

}

.footer a{
    color: whitesmoke;
    text-decoration: none;
}

.footer a:hover{
    color: blueviolet;


}
