

.overlay{
    height: 0%;
    width: 100%;
    position: fixed;
   z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(107, 64, 109, 0.568);
    overflow-y: hidden;
    transition: 0.5s;
   

}

.overlay-top{
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgba(23, 23, 24, 0.651);
    transition: 0.5s;
    overflow: auto;
    color: whitesmoke;
    
}

.overlay-content-top {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #f5f1f1;
    display: block;
    transition: 0.3s;
   
}


.artwork-flexbox{
    display:flex;
    flex-direction: row;
}
 
.bigpic{
    
    width: 80%;

}

.bigpic img{
    width: 100%;

}

.allpics{
    display:flex;
    flex-wrap: wrap;
   margin: 0px;
   width:120px;
   



}


.allpics img{
    
    width: 100px;
   

}

.images{
    padding: 5px;
    justify-content: center;
    margin: auto;
    align-items: center;
}

#closeart{
    border:none;
    background-color: rgb(112, 79, 143);
    color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    float: right;
    margin: 10px;
    
}


