/*.igrid-flexbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightsalmon;
    margin-bottom: auto;
    height: 100%;
  
   
}*/



img{
   
    width: 100%;
    height: auto;
   
}