

body{
    margin: 0;
    display:grid;
    grid-template-columns: repeat(9, 3fr);
    grid-template-areas:
    "h h h h h h i i i"
    "h h h h h h i i i"
    "b b b b b b b b b"
    "f f f f f f f f f";
     background-image: url(b.jpeg);
    background-size: cover;     
    background-repeat:   no-repeat;
    background-position: center center;
   
}

header {
    background-color: mediumorchid;
    grid-area: h;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    padding: 15px;
    /*background-image: url(b.jpeg);*/
    background-size: cover;     
    background-repeat:   no-repeat;
    background-position: center center;
   
   

}

igrid{
    grid-area: i;
    background-color:rgba(189, 187, 187, 0);;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    contain: content;
    grid-template-columns: auto;
    /*padding: 90px;*/
    border-color: lightpink;
    border-bottom-style: dashed;
    border-width: 3px;
    border-top-width: 3px;
    
}


.flexbox-agrid-area{
    display: flex;
    flex-direction: row;
    background-color: rgba(248, 248, 255, 0);
}
.item-agrid-area{
    background-color: rgba(255, 182, 193, 0);
    padding: 2rem; 
}

.item-agrid-image img{
    width: 100%;
    height: auto;
    max-width: 350px;
    
}
